<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>967781273524-re14c8vfird7okpmce0a6n27hqrbonrv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.967781273524-re14c8vfird7okpmce0a6n27hqrbonrv</string>
	<key>API_KEY</key>
	<string>AIzaSyCcdHcTksf_CLHIG6u3P6A_-8SM-bWTAM4</string>
	<key>GCM_SENDER_ID</key>
	<string>967781273524</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.yonezu.Picheri</string>
	<key>PROJECT_ID</key>
	<string>picheri</string>
	<key>STORAGE_BUCKET</key>
	<string>picheri.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:967781273524:ios:14d5a9574c820a71502ce1</string>
</dict>
</plist>